<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${windows-identity:domain=false}.${shortdate}.log"
            createDirs="true"
            layout="${longdate} | ${level:uppercase=true} | ${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=tostring}}"
            deleteOldFileOnStartup="false"
            archiveEvery="Monday"
            maxArchiveFiles="7"
            enableArchiveFileCompression="true"/>
  </targets>
  <rules>
    <logger name ="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
